<!-- Define a function to render the inventory -->
<% function renderInventory(inventory) { %>
    <div class="item-details">
      <article>
        <h2>Name= inventory.name %></h2>
        <div><%= inventory.description %></div>
        <p>
          <strong>Quantity:</strong> <%= inventory.quantity %><br />
          <strong>Price:</strong> <%= inventory.price %><br />
        </p>
    
        <!-- Update button -->
        <form
          class="action-form"
          method="GET"
          action="/single-inventory/update/<%= inventory._id %>"
        >
          <button type="submit" class="update">update</button>
        </form>
    
        <!-- Delete button -->
        <form
          class="action-form"
          method="POST"
          action="/single-inventory/<%= inventory._id %>?_method=DELETE"
        >
          <button type="submit">delete</button>
        </form>
      </article>
    </div>
    <% } %>
    
   
    
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Single Inventory</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <!-- Link to external stylesheet -->
      </head>
      <body>
        <nav class="navbar">
          <h1>My Inventories</h1>
          <div class="links">
            <a href="/">Home</a>
            <a class="new-item-link" href="/addinventory">New Inventory</a>
          </div>
        </nav>
    
        <div class="content">
          <div class="home">
            <div class="item-list">
              <% if (inventory) { %> <%= renderInventory(inventory) %> <% } else { %>
              <p>No inventory found.</p>
              <% } %>
            </div>
          </div>
        </div>
      </body>
    </html>